body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 3em; /* Increase the size of the website name */
    margin-bottom: 20px;
}

h2 {
    font-size: 2em; 
    margin-bottom: 40px;
}

.movie-title{
    font-size: 2em;
    text-align: center; /* Space between title and poster */
    white-space: pre-wrap; /* Preserve whitespace */
    overflow-wrap: break-word; /* Break long words */
    max-width: 250px; /* Limit width for better wrapping */
    margin-top: 75px;
}


.movie {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 100px;
    justify-items: center;
}

.poster-container {
    width: 175px; /* Fixed width of the poster */
    height: 250px; /* Fixed height of the poster */
    text-align: center;
    margin-bottom: 50px;
}

button {
    background: transparent; /* Remove default button background */
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer */
    padding: 0; /* Remove default button padding */
}

button img {
    width: 175px; /* Width of the poster image */
    height: 250px; /* Height of the poster image */
    border-radius: 10px; /* Rounded corners */
    transition: transform 0.3s ease; /* Transition effect for hover */
}

button:hover img {
    transform: scale(1.05); /* Slight zoom on hover */
}

.pagination-container {
    display: flex;
    align-items: center; /* Align items in the center vertically */
    justify-content: center; /* Center the pagination controls */
    margin-top: 20px; /* Add some margin at the top for separation */
}

.previous-page, .next-page {
    margin: 0 10px; /* Add horizontal spacing between buttons */
    padding: 10px 20px; /* Add padding for better button size */
    background-color: #ddd;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px; /* Adjust font size as needed */
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    cursor: pointer; /* Change cursor to pointer on hover */
}

.page-number-display {
    margin: 0 15px; /* Add spacing around the page number */
    font-size: 16px; /* Adjust font size as needed */
}
