body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    font-size: 3em; /* Increase the size of the website name */
    margin-bottom: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    height: auto; /* Adjust height to fit content */
}

.movie-main {
    display: flex;
    align-items: flex-start; /* Aligns items vertically to the start */
    justify-content: flex-start; /* Align items to the start horizontally */
}


.origin-movie-poster {
    width: 300px; /* Fixed width of the poster */
    height: auto; /* Fixed height of the poster */
    margin-bottom: 100px;
    border-radius: 10px; /* Rounded corners */
}

.origin-movie-info {
    text-align: center; /* Center align text for title and description */
}

.origin-movie-title {
    font-size: 4em;
    text-align: center; /* Space between title and poster */    
    max-width: 700px; /* Limit width for better wrapping */
    margin-left: 100px;
    margin-top: 75px;
}

.related-movies {
    display: flex;
    flex-direction: column; /* Stack title and movies vertically */
    align-items: center;
    margin-top: 20px; /* Add space above related movies */
}

.related-movies-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 20px; /* Space between movie items */
    margin-top: 20px;
}

.related-movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.related-movie-item img {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 10px; /* Rounded corners */
}

.related-movie-item h3 {
    font-size: 2em;
    margin-top: 10px;
    text-align: center;
    white-space: pre-wrap; /* Preserve whitespace */
    overflow-wrap: break-word; /* Break long words */
    max-width: 250px; /* Ensure title fits within the container */
}

