body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    overflow-x: auto;
}

.container {
    display: flex;
    flex-direction: column;
    height: auto; /* Adjust height to fit content */
    width: 100%;
}

.back-button {
    display: flex;
    align-items: left;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 3em;
    color: #007bff;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}

h1 {
    font-size: 3em; /* Increase the size of the website name */
    margin-bottom: 75px;
    position: relative;
}

.movie-main {
    display: flex;
    align-items: flex-start; /* Aligns items vertically to the start */
    justify-content: flex-start; /* Align items to the start horizontally */
}

.origin-movie-poster {
    width: 300px; /* Fixed width of the poster */
    height: auto; /* Fixed height of the poster */
    margin-bottom: 100px;
    margin-left: 50px;
    border-radius: 10px; /* Rounded corners */
}

.origin-movie-info {
    display: flex;
    flex-direction: column;
}

.origin-movie-title {
    font-size: 3em;
    text-align: left; /* Space between title and poster */    
    max-width: 700px; /* Limit width for better wrapping */
    margin-left: 50px;
    margin-bottom: 20px;
    white-space: nowrap; /* Prevents wrapping of content */
}

.origin-movie-description {
    font-size: 1.5em;
    text-align: left; /* Space between description and poster */
    max-width: 700px; /* Limit width for better wrapping */
    margin-left: 50px;
}

.related-movies {
    display: flex;
    flex-direction: column; /* Stack title and movies vertically */
    margin-top: 20px; /* Add space above related movies */
    margin-left: 50px;
}

.related-movies-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 20px; /* Space between movie items */
    margin-top: 20px;
}

.related-movie-item {
    display: flex;
    flex-direction: column;
}

.related-movie-item img {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 10px; /* Rounded corners */
}

.related-movie-item h3 {
    font-size: 2em;
    margin-top: 10px;
    text-align: center;
    white-space: pre-wrap; /* Preserve whitespace */
    overflow-wrap: break-word; /* Break long words */
    max-width: 250px; /* Ensure title fits within the container */
}

.related-movie-button {
    width: 200px;
    height: auto;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease; /* Transition effect for hover */

}

.related-movie-button:hover {
    transform: scale(1.05); /* Slight zoom on hover */
}

.related-movie-button img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
